{% extends 'base_login.html' %}
{% load static %}

{% block content %}
<div style="max-width: 400px; margin: 5rem auto;">
    <div class="card">
        <div style="margin-bottom: 20px; text-align:center;">
            <img src="{% static 'logo/logo.webp' %}" alt="Wallpaperia Logo" style="width:80px; height:auto;">
            <h2 style="margin-top:10px; color:#667eea;">Reset Password</h2>
            <p>Enter your new password</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-success" style="width:100%;">Reset Password</button>
        </form>
            <div style="margin-top: 10px; text-align:center;">
        <a href="{% url 'login' %}">Back to Login</a>
    </div>
    </div>
</div>
{% endblock %}
